.Counter {
	margin: 2rem auto;
	padding: 1rem;
	width: clamp(20ch, 60%, 60ch);
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid lightgray;
	border-radius: 5px;
	text-align: center;
}


.Counter .display p:nth-of-type(1) {
	font-weight: 700;
	font-size: larger;
}

.Counter button {
	color: white;
	font-size: larger;
	font-weight: 700;
	width: 2rem;
	padding: 2px 5px;
	border-radius: 5px;
}

.Counter button.minus {
	background-color: rgb(159, 18, 46);
}

.Counter button.plus {
	background-color: rgb(0, 128, 0);
}