html {
	font-family: sans-serif;
}

body {
	display: flex;
	display: grid;
	grid-template-columns: 1fr minmax(40ch, 80ch) 1fr;
	align-items: center;
	padding-bottom: 1rem;
}

body > * {
	grid-column: 2;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

pre {
	line-height: 150%;
	background: rgb(239, 238, 227);
	padding: 1rem 1rem 1rem 3rem;
}